# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
.venv/
/test/

# Data
# alle PDFs im pdfs-Ordner ignorieren, außer dem Test-PDF
data/pdfs/*
!data/pdfs/TabellenTest.pdf
!data/pdfs/.gitkeep
data/vectorstore/

# IDE
.idea/
.vscode/

# OS
.DS_Store
tests/chunk_testing.py
