# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
.venv/
/tests

# Data
# alle PDFs im pdfs-Ordner ignorieren, außer dem Test-PDF
data/pdfs/*
!data/pdfs/TabellenTest.pdf
!data/pdfs/.gitkeep
data/chroma_huggingface__all-MiniLM-L6-v2

# IDE
.idea/
.vscode/

# OS
.DS_Store
tests/chunk_testing.py
